@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgBaseDark: #18181b;
  --bgBaseLight: #e7e5e4;
  --bgRaisedDark: #27272a;
  --bgRaisedLight: #fafaf9;
  --textDark: #18181b;
  --textLight: #f8fafc;
  --textDimmedDark: #52525b;
  --textDimmedLight: #cbd5e1;
}

html {
  --bg: var(--bgBaseLight);
  --bgRaised: var(--bgRaisedLight);
  --text: var(--textDark);
  --textDimmed: var(--textDimmedDark);
}

html.dark {
  --bg: var(--bgBaseDark);
  --bgRaised: var(--bgRaisedDark);
  --text: var(--textLight);
  --textDimmed: var(--textDimmedLight);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  @apply bg-bg text-textDimmed;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html.dark, html.dark body {
  color-scheme: dark;
}

@media print {
  html.dark, html.dark body {
    font-size: 14px;
    @apply bg-bgBaseLight text-textDark;
  }
}

